.header {
  background-color: $white;
  border-bottom: 1px solid #ececec;
}
.header-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.header-nav__open-mobileMenu {
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 0;
  border: 0;
  height: 40px;
  background-color: $white;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
