.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
}
.logo__first {
  color: $accent-color;
}
.logo__second {
  color: $title-text-color;
}
