$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-fon-color: #2f303a;
$secondary-fon-color: #f5f4fa;
$adress-text-color: rgba(255, 255, 255, 0.6);
$white: #ffffff;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$body-font: roboto, sans-serif;
$logo-font: raleway, sans-serif;
